QUESTION-1:

1.Read the data with pandas and find features and target variables

2.Normalize the data with min-max scaling

3.Split the data into train and test.

In [6]:
import pandas as pd

In [7]:
A=pd.read_csv('/content/train.csv')
print(A)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [8]:
y=A['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [9]:
x=A.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [10]:
df=x-x.min()/x-x.max()
print(df)

      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
0      -1156.595012   NaN    -1.027273       NaN -18.0     NaN  -57.285714
1       -977.490695   0.0    -3.500000       0.0   NaN     0.0  -11.037736
2      -1435.889876   0.0    -3.500000       0.0 -17.0     0.0  -23.048780
3      -1383.814634   0.0    -0.700000       NaN   NaN     NaN  -54.200000
4       -177.275124   0.0    -2.216667       NaN  -6.0     0.0  -20.045455
...             ...   ...          ...       ...   ...     ...         ...
1995   -1204.630982   0.0    -3.500000       0.0   NaN     0.0  -63.000000
1996     -33.254962   0.0    -0.592308       0.0   NaN     NaN  -25.051282
1997     -87.262166   NaN    -2.655556       0.0 -18.0     0.0  -28.055556
1998    -486.331349   NaN    -2.655556       NaN -15.0     0.0  -18.043478
1999   -1488.982353   0.0    -1.250000       0.0 -14.0     0.0  -19.044444

         m_dep  mobile_wt   n_cores    pc  px_height     px_width  \
0    -0.566667 -12.425532 -6.500000 -18.0    -1940.0 -1242.661376
1    -0.442857 -64.588235 -5.333333 -14.0    -1055.0   -10.251509
2    -0.211111 -55.551724 -3.200000 -14.0     -697.0  -282.291375
3    -0.325000 -69.610687 -2.166667 -11.0     -744.0  -212.279955
4    -0.566667 -59.567376 -6.500000  -6.0     -752.0  -786.412541
...        ...        ...       ...   ...        ...          ...
1995 -0.325000 -94.754717 -2.166667  -6.0     -738.0  -108.264550
1996 -1.300000 -13.427807 -4.250000 -17.0    -1045.0   -33.254453
1997 -0.442857 -92.740741 -0.125000 -17.0    -1092.0  -366.306373
1998 -1.900000 -55.551724 -3.200000 -15.0    -1624.0 -1328.746269
1999 -0.211111 -32.476190 -2.166667  -4.0    -1477.0 -1244.663130

              ram       sc_h  sc_w  talk_time  three_g  touch_screen  wifi
0    -1449.100432 -10.555556 -11.0  -1.105263      NaN           NaN   0.0
1    -1367.097301  -2.294118 -15.0 -13.285714      0.0           0.0   NaN
2    -1395.098348  -8.454545 -16.0 -11.222222      0.0           0.0   NaN
3    -1229.092452  -3.312500 -10.0  -9.181818      0.0           NaN   NaN
4    -2587.181432 -11.625000 -16.0  -5.133333      0.0           0.0   NaN
...           ...        ...   ...        ...      ...           ...   ...
1995 -3330.383234  -6.384615 -14.0  -1.105263      0.0           0.0   NaN
1996 -1966.125984  -8.454545  -8.0  -4.125000      0.0           0.0   0.0
1997  -941.083742 -10.555556 -17.0 -15.400000      0.0           0.0   NaN
1998 -3129.294591  -1.277778  -8.0  -1.105263      0.0           0.0   0.0
1999   -79.065323  -0.263158 -14.0 -19.000000      0.0           0.0   0.0

[2000 rows x 20 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.2)

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=25)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1367            598     1          0.8         1   8       1          62
1809            683     1          2.1         0   7       0          30
973             516     1          0.7         1   1       0          30
182            1082     0          0.8         0   0       0          38
871             712     1          1.6         0   6       1           9
...             ...   ...          ...       ...  ..     ...         ...
1341           1423     0          0.6         0  12       0          44
143             786     0          2.2         1   0       0          33
474            1968     0          0.9         0   0       0          22
318             508     0          0.8         0   7       1          42
1156           1732     0          0.8         0   2       0          61

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
1367    0.1        117        8   9        118       764  3066    11     2
1809    0.1        197        7   8        927      1135  2066     9     0
973     0.9        138        1  12        126       698  3731    17    13
182     0.1        198        8   5        986      1191  2337     6     1
871     0.8        172        2  14        881      1234  3612    13     5
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1341    0.8        131        5  13        501       640  2253    10     8
143     0.5        141        7   6        507      1697  2390    12    11
474     0.8        115        3   7        861      1259  2323     9     8
318     0.3         94        1   8         39       557   663    13    12
1156    0.3        172        5   3        201       656  3940    17    11

      talk_time  three_g  touch_screen  wifi
1367         19        1             1     0
1809         15        0             0     0
973          15        0             0     0
182          17        0             1     1
871           4        1             0     0
...         ...      ...           ...   ...
1341          9        0             0     0
143           5        1             0     1
474           7        0             0     1
318           7        1             0     0
1156         20        0             1     1

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1050            718     0          0.7         1   0       1          21
1748            936     1          2.3         0   5       1          57
1685           1521     1          1.6         0   5       1          62
365             763     0          1.7         1   8       1           2
1445            659     0          0.5         1   7       1           5
...             ...   ...          ...       ...  ..     ...         ...
64              702     0          2.6         1   2       1           9
616            1369     1          1.8         1   6       0          34
1620            623     0          1.4         1   0       1          15
1722           1831     1          2.3         0   3       1          44
314            1163     0          2.8         1   0       0          49

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
1050    0.8         88        1   7        518       830  1754    17    11
1748    0.2        129        2   6        657       938  2049    12     8
1685    0.3        143        1   9        678      1630  3555     5     2
365     0.5         92        8  14       1028      1186  1050     6     4
1445    0.3        169        8  10        659       730  2190    16    10
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
64      0.7        141        3   3        504      1570  2955    10     4
616     0.5        162        1   7        553       727  3856    18     4
1620    0.2        189        3   1        778       844  3510    14     4
1722    0.2        148        7  14        437      1113  2460    10     5
314     0.6        155        2   0        520       754  2768    19     2

      talk_time  three_g  touch_screen  wifi
1050          9        1             0     1
1748          5        1             1     0
1685         19        1             0     0
365           8        1             1     0
1445         16        1             1     0
...         ...      ...           ...   ...
64           19        1             0     0
616          18        0             1     1
1620         18        1             0     1
1722         18        1             0     0
314          12        0             0     1

[400 rows x 20 columns]
1367    2
1809    1
973     2
182     2
871     3
       ..
1341    1
143     2
474     2
318     0
1156    3
Name: price_range, Length: 1600, dtype: int64
1050    1
1748    1
1685    3
365     0
1445    1
       ..
64      2
616     3
1620    2
1722    2
314     2
Name: price_range, Length: 400, dtype: int64

In [16]:
x_train
x_test
y_train
y_test

1050    1
1748    1
1685    3
365     0
1445    1
       ..
64      2
616     3
1620    2
1722    2
314     2
Name: price_range, Length: 400, dtype: int64

**QUESTION-2**
1.Read the data with pandas and describe the data

2.Find data type and shape of each column

3.Find the target and features

4.Find the null values (if yes fill the null values with ‘0’ or mean of that column)

5.Normalize all the features

6.Split the data into train and test.

In [17]:
A=pd.read_csv('/content/sample_data/california_housing_train.csv')
print(A)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [18]:
A.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [20]:
A.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [21]:
A.shape

(17000, 9)

In [24]:
y=A['median_house_value']
print(y)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [27]:
x=A.drop('median_house_value',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [28]:
A.isnull().sum()
A.fillna(0,inplace=True)

In [29]:
df=x-x.min()/x.max()-x.min()
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       8.952169  0.874315           13.980769  5609.999947     1281.999845
1       8.792169  1.084315           17.980769  7647.999947     1899.999845
2       8.702169  0.374315           15.980769   717.999947      172.999845
3       8.692169  0.324315           12.980769  1498.999947      335.999845
4       8.692169  0.254315           18.980769  1451.999947      324.999845
...          ...       ...                 ...          ...             ...
16995  -0.997831  7.264315           50.980769  2214.999947      392.999845
16996  -1.007831  7.374315           34.980769  2346.999947      526.999845
16997  -1.037831  8.524315           15.980769  2674.999947      529.999845
16998  -1.037831  8.484315           17.980769  2669.999947      550.999845
16999  -1.087831  7.224315           50.980769  1817.999947      298.999845

        population  households  median_income
0      1011.999916  470.999836       0.960374
1      1125.999916  461.999836       1.286774
2       329.999916  115.999836       1.117674
3       511.999916  224.999836       2.658474
4       620.999916  260.999836       1.391774
...            ...         ...            ...
16995   903.999916  367.999836       1.823874
16996  1190.999916  463.999836       1.984674
16997  1240.999916  454.999836       2.498074
16998  1294.999916  476.999836       1.446474
16999   802.999916  268.999836       2.481474

[17000 rows x 8 columns]

In [30]:
xtrain,xtest,ytrain,ytest=train_test_split(df,y,test_size=0.2,random_state=25)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16316   0.762169  4.444315           44.980769  1488.999947      283.999845
11626   1.972169  5.274315           17.980769  2457.999947      468.999845
10292   3.212169  3.664315           14.980769  3702.999947      737.999845
2008    5.952169 -0.485685           36.980769  2364.999947      478.999845
16708   0.432169  5.074315           17.980769  1762.999947      392.999845
...          ...       ...                 ...          ...             ...
7324    4.922169  0.584315           35.980769   539.999947      103.999845
1160    6.142169 -0.745685           19.980769  1735.999947      293.999845
1175    6.132169 -0.375685           13.980769  4843.999947      823.999845
2934    5.502169  0.384315           10.980769  4022.999947      572.999845
6618    4.982169  0.654315           29.980769  2014.999947      564.999845

        population  households  median_income
16316   837.999916  304.999836       3.999674
11626  1342.999916  478.999836       3.123074
10292  2459.999916  695.999836       1.995574
2008    887.999916  426.999836       3.614474
16708   864.999916  386.999836       1.928774
...            ...         ...            ...
7324    351.999916  116.999836       4.980074
1160    979.999916  296.999836       4.294174
1175   2793.999916  821.999836       4.404274
2934   2038.999916  586.999836       7.379274
6618   2059.999916  519.999836       1.388674

[13600 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
15988   0.822169  4.474315           50.980769  1900.999947      459.999845
12862   1.442169  4.004315            8.980769  2503.999947      621.999845
12651   1.522169  3.154315           26.980769  1970.999947      341.999845
9298    4.122169  0.914315            6.980769   240.999947       73.999845
5874    5.062169  0.604315           43.980769  1280.999947      251.999845
...          ...       ...                 ...          ...             ...
14595   1.102169  4.144315           43.980769  2065.999947      346.999845
529     6.262169 -0.575685           15.980769  2354.999947      597.999845
2165    5.892169  0.664315           25.980769  1339.999947      545.999845
9060    4.282169  2.064315           26.980769  1168.999947      297.999845
11813   1.932169  5.294315           19.980769  2450.999947      516.999845

        population  households  median_income
15988   827.999916  431.999836       3.913174
12862  2630.999916  620.999836       2.601774
12651   966.999916  347.999836       3.716774
9298     98.999916   78.999836       2.038174
5874   1021.999916  246.999836       2.746574
...            ...         ...            ...
14595   840.999916  364.999836       5.693774
529    1419.999916  508.999836       1.352374
2165    840.999916  482.999836       0.586174
9060   1189.999916  271.999836       0.330674
11813  1322.999916  503.999836       2.174674

[3400 rows x 8 columns]
16316    278800.0
11626     95600.0
10292     61800.0
2008     500001.0
16708    260300.0
           ...
7324     227300.0
1160     174100.0
1175     180400.0
2934     344900.0
6618     107000.0
Name: median_house_value, Length: 13600, dtype: float64
15988    500001.0
12862    231400.0
12651    279100.0
9298     500001.0
5874     141200.0
           ...
14595    417800.0
529      118800.0
2165      95800.0
9060      49400.0
11813    148000.0
Name: median_house_value, Length: 3400, dtype: float64